/* container */
.container {
  width: 350px;
  margin: 32px auto 0 auto;
  text-align: center;
  background-color: white;
}

.xmas_stage {
  position: relative;
  height: 600px;
  background-color: blueviolet;
}

/* _____________ */